
<div class="footer">
	
	<div class="links">
		<a href="" class="about">About Us</a>
		<a href="" class="faqs">FAQs</a>
		<a href="" class="contact">Contact Us</a>
		<a href="" class="privacy">Privacy Policy</a>
	</div>
	<div class="news">
		<p>Sign up for our newsletter!</p>
		<input type="text" class="news_inp">
		<button class="news_signup">Sign Up </button>
	</div>
	
	<div class="social">
		<%= fa_icon "twitter" %>
		<%= fa_icon "facebook" %>
		<%= fa_icon "instagram" %>
		<%= fa_icon "pinterest" %>
	</div>

</div>