
<div class="footer" id='footer'>
	
	<div class="links col3">
		<ul class="link-list">
			<li><a href="" class="about">About Us</a></li>
			<li><a href="" class="faqs">FAQs</a></li>
			<li><a href="" class="contact">Contact Us</a></li>
			<li><a href="" class="privacy">Privacy Policy</a></li>
		</ul>
	</div>
	<div class="news col3">
		<p>Sign up for our newsletter!</p>
		<input type="text" class="news_inp">
		<button class="news_signup">Sign Up </button>
	</div>
	
	<div class="social col3">
		<%= fa_icon "twitter" %>
		<%= fa_icon "facebook" %>
		<%= fa_icon "instagram" %>
		<%= fa_icon "pinterest" %>
	</div>

</div>