<img src="#" alt="" width='100px' height='100px'>

<div>
<form action=""></form>
<input type="text" id="search_inp" placeholder='Search for business'>

<a href="#" class="sign_in">Sign In</a>
<a href="" class="sign_up">Sign Up</a>
</div>
