<div class="pure-g">

	<div id='header-img' class='pure-u-1-2'>
		<div class="float-left">
			<img src="logo.png" alt="" width='100px' height='100px'>
		</div>
	</div>

	<div class='pure-u-1-2' id='header'>
		<div class="float-right">
			<input type="text" id="search_inp" placeholder='Search for business' class='block'>

			<a href="/sessions/new" class="sign_in">Sign In</a>
			<a href="/users/new" class="sign_up">Sign Up</a>
		</div>
	</div>
</div>
