
<% @parsed['response']['venues'].each do |business| %>
<h3><%= business['name'] %></h3>
<h3><%= business['location']['address'] %></h3>
<h3><%= business['contact']['formattedPhone'] %></h3>
<hr>
<% end %>


