// Place all the styles related to the business controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	color: gray;
/*	font-style: italic;
*/}

.button-secondary {
	 background: rgb(66, 184, 221);
	 width: 10em;
}

.bus-photo {
	border-radius: 10px;
	width: 190px;
	height: 190px;
}

.default-logo {
	width: 190px;
	height: 190px;
	opacity: .3;
}
#spacing {
	margin-left: 15px;
}



hr {
	display: block;
	color: gray;
	width: 100%;
}
a {
	color: black;
}

p {
	color: gray;
}

.neighborhood {
	margin-bottom: 20px;
	line-height: 19px;
}

.no-neighbhor-address {
	line-height: 23px;
}

.button-div {
	margin-top: 25px;
}
.button-large {
	width: 10em;
	border-radius: 5px;
	margin-top: 20px;

}

.address-index {
	margin: 20px auto;
	text-align: center;
	line-height: 30px;
}

.address-index p {
	color: black;
}

.name-index {
	font-size: 16px;
	margin-top: 3em;
}
#counter {
	color: black;
}
