// Place all the styles related to the business controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	color: gray;
	font-style: italic;
}
.yelp-photo {
	height: 160px;
	width: 160px;
	border-radius: 10px;
	margin-bottom: 20px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
hr {
	display: block;
	color: gray;
	width: 100%;
}
a {
	color: black;
}

p {
	color: gray;
}

.neighborhood {
	margin-bottom: 20px;
	line-height: 19px;
}

.no-neighbhor-address {
	line-height: 23px;
}

.button-div {
	margin-top: 25px;
}
.button-large {
	width: 12em;
	border-radius: 10px;
	margin-top: 20px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
}
