
.photo-inside-modal {
	margin: 0 auto;
	display: block;
}

.like-buttons-container {
	text-align: center;
}

.like-buttons-container img {
	margin: 0 auto;
	cursor: pointer; 
	cursor: hand;
}

#tiny-heart {
	width: 30px;
	height: 30px;
	display: inline-block;
	position: absolute;
	top: 279px;
	margin: 2px;
}

input[type="radio"], label {
	display: none;
}

.submit-modal-button {
	margin: 0 auto;
	display: block;
}

.rate-me-button {
	position: absolute;
	top: 350px;
	width: 150px;
}

.ratings {
	font-size: 20px;
}

.name {
	font-size: 2em;
	font-style: bold;
	color: black;
}

.position {
	font-size: 1.5em;
	color: black;
	margin-bottom: 15px;
}