html{
	font-size: 16px;
}
h1{
	font-size: 1.5em;
}
body{
	font-family: ‘Open Sans’, sans-serif;
	color: #4A4A4A;
}

ul{
	list-style: none;
}


.break{
	border: 1px solid #D8D8D8;
}

.float-right{
	float: right;
	margin-right: .4em;
}
.float-left{
	float: left;
	margin-left: .4em;
}

.inline-block{
	display: inline-block;
}
.block{
	display: block;
}
.container{
	max-width: 1000px;
	margin: 0 auto;
}

.all_inputs{
	/*border-radius: .4em;*/
	padding: 5px;
	width: 12em;
}

.text-center{
	text-align: center;
}

a {
	text-decoration: none;
}

.center{
	margin: 0 auto;
}

.absolute-center{
	position: absolute;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
}