
.form {
	margin-top: 1em;
	width: 9em;
}

#hello {
	text-align: center;
	display: block;
	margin: 0 auto;
}

[type=file] {
	color: red;
	text-align: center;
	margin: 10px auto;
	position: relative;
	left: 60px;
	display: block;
}

.pure-form {
	margin-top: 5px;
}

/*[type=text] {
	margin: 5px;
}
*/

/*
#user_avatar {
	position: absolute;
	
}*/

/*.signup-form {
	width: 200px;
}*/

/*#new-user-form {
	width: 200px;
	overflow: hidden;
	display: block;
}*/