#header{
	padding-top: 10px;
	height: 100px;
}

#search-header{
	margin-top: 15px;
	text-align: center;
}

#search-header input{
	margin-bottom: 20px;
	padding: 5px;
	border: 1px solid gray;
}

#search-header a{
	margin-left: 20px;
}

#main-form{
	margin: 1em 0 2em 0;
	height: 700px;
	background-image: url(http://upload.wikimedia.org/wikipedia/commons/4/42/Barista_COSTA_COFFEE.JPG);
	background-repeat: none;
	background-size: cover;
	position: relative;
}

/*#main-form::after{
	content: 'somthings';
	border-bottom: 4px solid black;
	margin-top: 2em;
}*/

#outer-form{
	position: absolute;
	width: 100%;
	height: 40%;
	bottom: 0;
	background-color: rgba(0,0,0,.7);
}

#inner-form{
	margin-top: 1em;
	position: relative;
	color: #D5DFE9;
	height: 100%;
}

#inner-form h1{
	color: white;
}

#howItWorks{
	margin-left: 5%;
}